.env
*.log
logs/

# Database
db.sqlite3
db.sqlite3-journal

staticfiles/
media/

*.sqlite3
.DS_Store
Thumbs.db

.vscode/
.idea/

*.zip
*.rar
*.bak


# Licensing
license.json
license_keys/private_key.pem

# Build
build/
dist/


# Python
__pycache__/
*.pyc

# Virtual Env
.venv/

# PyInstaller
*.spec.bak